/* Elements */
iframe {
    border: none;
}

/* Classes */
.wrapper {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.primary_text {
    color: black;
}

.main_menu li {
    display: inline;
    float: left;
    padding-right: 25px;
}

/* Ids */
