/* Elements */
iframe {
    border: none;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


/* Classes */
.main_menu_li {
    display: inline;
    float: left;
    padding-right: 25px;
}


/* Ids */
